*.gem
*.rbc
.bundle
.config
.zombie_scout
.zombie_scout_whitelist
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# We dont want to keep Gemfile.lock for gem libraries
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/
